.navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 12%;
    position: fixed;
    bottom: 0;
    width:440px;
    height: 60px;
    border-top: 1px solid var(--borda);
    background-color: var(--superficie);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tinta-2);
    padding-bottom: 15px;
    gap: 33px;
}
.navbar-item{
    text-decoration: none;
    color: var(--tinta-2);
}
.navbar-item__icon{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 42px;
    font-size: 1.2rem;
}

.navbar-item:hover{
    color: var(--cor-primaria);
}

